body {
  background-color: #f8f6ef;
}

.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
  color: #221c1c;
}

button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button {
  background-color: #73c69d;
  color: white;
  padding: 10px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #548f72;
}

.delete-task-button {
  background-color: #cb7268;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-task-button:hover {
  background-color: #b72200;
}

.edit-task-button {
  background-color: #77dbff;
}

.edit-task-button:hover {
  background-color: #3592b4;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #221c1c;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

li {
  font-size: 1.4rem;
  font-weight: semi-bold;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input[type="text"] {
  width: 1000px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #221c1c;
}

.text {
  flex: 1;
  margin-right: 10px;
}
