/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-color: #F8F6EF;
}

.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
  color: #221c1c;
}

button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button {
  background-color: #73C69D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.add-task-button:hover {
  background-color: #3d6c0e;

}

.delete-task-button {
  background-color: #cb7268;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.delete-task-button:hover {
  background-color: #b72200;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #221c1c;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

li {
  font-size: 1.4rem;
  font-weight: semi-bold;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  display: flex;
  /* max-width: 500px; */
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1;
}